.navigation-buttons {
  display: grid;
  grid-template-areas: 
    ". up ."
    "left . right"
    ". down .";
  grid-gap: 15px; 
  position: absolute;
  bottom: 35px;
  right: 290px;
}

.nav-button {
  width: px; 
  height: 100px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button img {
  width: auto;
}

.nav-button.left {
  grid-area: left;
}

.nav-button.left:hover,
.nav-button.up:hover,
.nav-button.right:hover,
.nav-button.down:hover {
  transform: scale(1.1); 
}

.nav-button.up {
  grid-area: up;
}

.nav-button.right {
  grid-area: right;
}

.nav-button.down {
  grid-area: down;
}