.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D3EBEE;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: -100px; 
}

.logo {
    width: 270px;
    height: auto;
}

.login-box {
    background-color: #B9DCDF;
    border-radius: 16px;
    box-shadow: 0px 8.227px 8.227px rgba(0, 0, 0, 0.25);
    padding: 40px;
    width: 736px;
    height: 387px;
    text-align: center;
    margin-top: 70px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px; 
}

.input-field {
    width: 580px;
    height: 54px;
    border: 2.057px solid #65B2BA;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: #F3AB87;
    font-size: 20px;
    padding-left: 15px;
    box-shadow: 0px 8.227px 8.227px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px; 
}

.input-field::placeholder {
    color: #F3AB87;
    font-style: italic;
    font-size: 18px;
    font-size: 18px;
}

.input-field:focus {
    outline: 2px solid #65B2BA;
    outline-offset: 0;
}

.login-button {
    width: 197px;
    height: 54px;
    border-radius: 20px;
    background: #152457;
    box-shadow: 0px 8.227px 8.227px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 22px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #25385A;
}
