.member_card {
  display: block;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.member_card:hover {
  background-color: #dadada; /* Change to the desired hover background color */
  border-radius: 8px; /* Optional: Add border radius on hover */
  transition: background-color 0.3s ease-out; /* Add transition for background color */
}

.member_card a {
  width: 100%;
  height: 100%;
}

.roundedImage {
  border-radius: 50%;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  object-fit: cover; /* Ensures the image covers the entire container */
  border: 0.2rem solid var(--border-color); /* Use CSS variable for border color */
  transition: border-color 0.3s ease; /* Add transition for border color */
}
